* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto, Arial, sans-serif';
}
header {
  background-color: $color-nav-background;
}
.navbar_section {
  .navbar_left {
    div {
      &:first-child {
        i {
          color: white;
          cursor: pointer;
        }
      }
      button {
        padding: 20px;
        border: none;
        background-color: $color-nav-background;
        color: red;
        font-size: 25px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .navbar_center {
    div {
      cursor: pointer;
      button {
        margin-left: 10px;
        background-color: $color-input;
        border: none;
        font-size: 30px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        i {
          color: white;
        }
      }

      form {
        button {
          margin-left: -10px;
          background-color: #313131;
          border-radius: 0;
          width: 70px;
          height: 47px;
          color: white;
        }

        input {
          font-size: 30px;
          border: 1px solid #303030;
          background-color: $color-input;
          width: 600px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 10px;
        }
      }
    }
  }
  .navbar_right {
    div {
      margin-right: 40px;
      img {
        cursor: pointer;
        border-radius: 50%;
      }
      button {
        cursor: pointer;
        border: none;
        font-size: 20px;

        background-color: $color-nav-background;
        color: white;
      }
    }
  }
}

@media screen and (max-width : 1400px) {
  header {
      
      border-top: 2px solid #DDDDDD;
  }

  .home_page {
    a {
      background-color: green;
      display: none;
      margin: -10px;
    }
  }
  .part2{
    display: none;
  }
.part1{
  div{
    padding: 20px !important;
  }
  h3{
    display: none;
  }
}

  .menu {
    width: 100px;
  }
}
input{
display: none;
}
@media screen and (max-width : 631px) {
.menu{
  display: none;
}
.posts{
  display: flex;
  justify-content: center;
}
.youtube-icon{
  button{
    display: flex;
  }
}
.navbar_center{
  div{
    button{
      margin-right: 10px;
    }
  }
}
form{
  button{
    background-color: red;
  }
}

}